body{
margin:0;
background:#000;
font-family:Arial;
display:flex;
justify-content:center;
padding:40px;
color:white;
}

.card{
width:600px;
background:#0f0f0f;
border:1px solid #39ff14;
border-radius:24px;
padding:20px;
}

h1{
color:#39ff14;
text-align:center;
}

.section{
margin-top:20px;
padding:15px;
border:1px solid rgba(57,255,20,0.2);
border-radius:14px;
}

input{
width:100%;
margin:5px 0;
padding:10px;
border-radius:10px;
border:1px solid #39ff14;
background:black;
color:white;
}

button{
width:100%;
margin-top:6px;
padding:10px;
border-radius:10px;
border:none;
background:#39ff14;
font-weight:bold;
cursor:pointer;
}

button:hover{opacity:0.85}

.item{
display:flex;
justify-content:space-between;
padding:6px;
border-bottom:1px solid #222;
}
